extends ./layout/index.pug

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="fondo", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec sed molestie dui, cursus vehicula velit. Curabitur ut sapien nec leo feugiat accumsan. Nullam pellentesque diam felis, eu volutpat velit condimentum in. Vivamus fringilla vestibulum nunc nec maximus. Phasellus non arcu lacus. Vestibulum eget quam nisi. Donec pellentesque ante a justo facilisis pharetra. Ut faucibus nunc diam, tempor auctor nisl semper eu. Aenean at diam at est varius varius.

                p Praesent gravidas nisl tortor, id suscipit sapien aliquet sit amet. Sed vitae cursus purus. Vestibulum dapibus urna velit, et semper sapien venenatis sed. Aliquam tempus pretium neque, ut semper lacus ultricies in. Nunc tempus, velit id rutrum elementum, neque odio lobortis nisl, vel tincidunt est enim et dui. Maecenas posuere pulvinar est, et tempus ante. Suspendisse bibendum nibh velit, mollis egestas magna aliquet ut. Ut sit amet efficitur dui, nec placerat libero.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icocno seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed molestie dui, cursus vehicula velit. Curabitur ut sapien nec leo feugiat accumsan. Nullam pellentesque diam felis, eu volutpat velit condiment.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icocno seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed molestie dui, cursus vehicula velit. Curabitur ut sapien nec leo feugiat accumsan. Nullam pellentesque diam felis, eu volutpat velit condiment.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icocno seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed molestie dui, cursus vehicula velit. Curabitur ut sapien nec leo feugiat accumsan. Nullam pellentesque diam felis, eu volutpat velit condiment.
